.button 
    padding: 14px 22px
    background-color: $accent-color
    border: none
    color: #ffffff
    font-size: 14px
    font-weight: 500
    line-height: 22px
    border-radius: 5px
    white-space: nowrap
    &:hover
        background-color: lighten($accent-color, 8)
    &-big
        padding-top: 21px
        padding-bottom: 21px